.start_page {
    padding: 100px 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo_sims {
    width: 300px;
}

.title {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

button {
    color: white;
    background-color:#3CB9E1;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}

.start {
    width: 120px;
}